# Created by https://www.gitignore.io

# Program-specific
/client.cfg

### Vim ###
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~


### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
